#app {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background-color: #003a70;
  background-image: url("../img/bg-water.gif");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #app.preview {
    overflow: hidden;
    zoom: 0.6; }
  #app #container-loader {
    width: 1920px;
    height: 1080px;
    background-color: #000;
    position: absolute;
    z-index: 20;
    overflow: hidden; }
  #app #container-preface {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 2; }
  #app #container-story {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 1; }
  #app #container-menu {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 3; }
  #app #container-translator {
    width: 1920px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    z-index: 4; }
  #app #container-credits {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    background-color: #000;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #app #container-credits.hide-anim {
      visibility: hidden;
      opacity: 0; }
  #app .hide {
    display: none; }
  #app .show {
    display: block; }
