@import "./_vars.scss";

#intro {

  width: 100%;
  height: 100%;

  #intro-animation-container {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;

    div {
      .intro-container-images {
        position: relative;
        height: 1080px;
        float: left;
        left: 0px;
        img {
          width: 1920px;
          height: 1080px;
          border: none;
          display: block !important;
          float: left;
        }
      }
    }

    #animation-blue-whale {
      .intro-container-images {
        width: ($introFramesBlueWhale * 1920px);
        animation: play-intro-animation-blue-whale 1.5s steps($introFramesBlueWhale - 1) forwards;
      }
    }
    #animation-sperm-whale {
      .intro-container-images {
        width: ($introFramesSpermWhale * 1920px);
        animation: play-intro-animation-sperm-whale 1.5s steps($introFramesSpermWhale - 1) forwards;
      }
    }
    #animation-fin-whale {
      .intro-container-images {
        width: ($introFramesFinWhale * 1920px);
        animation: play-intro-animation-fin-whale 1.5s steps($introFramesFinWhale - 1) forwards;
      }
    }

  }
}

@keyframes play-intro-animation-blue-whale {
  from { left: 0; }
  to   { left: (($introFramesBlueWhale - 1) * -1920px); }
}
@keyframes play-intro-animation-sperm-whale {
  from { left: 0; }
  to   { left: (($introFramesSpermWhale - 1) * -1920px); }
}
@keyframes play-intro-animation-fin-whale {
  from { left: 0; }
  to   { left: (($introFramesFinWhale - 1) * -1920px); }
}
