#loader #asset-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  opacity: 0; }
  #loader #asset-container img {
    width: 50px;
    height: 30px;
    float: left; }
  #loader #asset-container #loader-source-images div {
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    background-position: 0, 0;
    background-repeat: no-repeat; }
  #loader #asset-container #loader-source-images #bg-menu {
    background-image: url("../img/bg-menu.png"); }
  #loader #asset-container #loader-source-images #icon-case-for-collections2x {
    background-image: url("../img/icon-case-for-collections@2x.png"); }
  #loader #asset-container #loader-source-images #slider-bg2x {
    background-image: url("../img/slider-bg@2x.png"); }
  #loader #asset-container #loader-source-images #bg-water {
    background-image: url("../img/bg-water.gif"); }
  #loader #asset-container #loader-source-images #icon-some-things-never-change2x {
    background-image: url("../img/icon-some-things-never-change@2x.png"); }
  #loader #asset-container #loader-source-images #slider-blue-whale2x {
    background-image: url("../img/slider-blue-whale@2x.png"); }
  #loader #asset-container #loader-source-images #btn-next-blue {
    background-image: url("../img/btn-next-blue.svg	"); }
  #loader #asset-container #loader-source-images #icon-value-of-variations2x {
    background-image: url("../img/icon-value-of-variations@2x.png"); }
  #loader #asset-container #loader-source-images #slider-fin-whale2x {
    background-image: url("../img/slider-fin-whale@2x.png"); }
  #loader #asset-container #loader-source-images #btn-next-white {
    background-image: url("../img/btn-next-white.svg"); }
  #loader #asset-container #loader-source-images #list-number-1 {
    background-image: url("../img/list-number-1.png"); }
  #loader #asset-container #loader-source-images #slider-sperm-whale2x {
    background-image: url("../img/slider-sperm-whale@2x.png"); }
  #loader #asset-container #loader-source-images #close-btn-blue {
    background-image: url("../img/close-btn-blue.svg"); }
  #loader #asset-container #loader-source-images #list-number-2 {
    background-image: url("../img/list-number-2.png"); }
  #loader #asset-container #loader-source-images #close-btn-white {
    background-image: url("../img/close-btn-white.svg"); }
  #loader #asset-container #loader-source-images #list-number-3 {
    background-image: url("../img/list-number-3.png"); }
  #loader #asset-container #loader-source-images #blue-whale-0 {
    background-image: url("../img/slides/blue-whale-0.jpg"); }
  #loader #asset-container #loader-source-images #blue-whale-2 {
    background-image: url("../img/slides/blue-whale-2.jpg"); }
  #loader #asset-container #loader-source-images #fin-whale-2 {
    background-image: url("../img/slides/fin-whale-2.jpg"); }
  #loader #asset-container #loader-source-images #sperm-whale-1 {
    background-image: url("../img/slides/sperm-whale-1.jpg"); }
  #loader #asset-container #loader-source-images #blue-whale-1 {
    background-image: url("../img/slides/blue-whale-1.jpg"); }
  #loader #asset-container #loader-source-images #fin-whale-1 {
    background-image: url("../img/slides/fin-whale-1.jpg"); }
  #loader #asset-container #loader-source-images #sperm-whale-0 {
    background-image: url("../img/slides/sperm-whale-0.jpg"); }
  #loader #asset-container #loader-source-images #sperm-whale-2 {
    background-image: url("../img/slides/sperm-whale-2.jpg"); }
  #loader #asset-container p {
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333; }
  #loader #asset-container p.wa {
    font-family: 'W-Condensed-Medium'; }
  #loader #asset-container p.wb {
    font-family: 'W-Condensed-Semibold'; }
  #loader #asset-container p.wc {
    font-family: 'W-Book'; }
  #loader #asset-container p.wd {
    font-family: 'W-Medium'; }
  #loader #asset-container p.we {
    font-family: 'W-Narrow-Semibold'; }
  #loader #asset-container p.wf {
    font-family: 'W-Narrow-Book'; }
  #loader #asset-container p.wg {
    font-family: 'W-Semibold'; }
  #loader #asset-container p.ca {
    font-family: 'SourceHanSansCN-Normal'; }
  #loader #asset-container p.cb {
    font-family: 'SourceHanSansCN-Medium'; }
  #loader #asset-container p.cc {
    font-family: 'SourceHanSansCN-Bold'; }

#loader #message-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 997; }
  #loader #message-container p {
    margin: 0;
    padding: 0;
    margin-top: 500px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'W-Narrow-Book', Helvetica, Arial, sans-serif;
    font-size: 79px;
    line-height: 79px;
    font-weight: normal;
    letter-spacing: 3px; }
